#PKI - PEM
#requiresAuthentication=B"false"
#username=""
#password=""
#transportSSLEnabled=B"true"
#transportSSLVerificationMode="certificate"
#certificateFormat="PEM"
#sslKeyPath="/PATH/TO/config/certs/dxp.example.com.key"
#sslCertificatePath="/PATH/TO/config/certs/dxp.example.com.crt"
#sslCertificateAuthoritiesPaths="/PATH/TO/config/certs/elastic-stack-ca.crt"
#PKI - PKCS#12
requiresAuthentication=B"false"
username=""
password=""
transportSSLEnabled=B"true"
certificateFormat="PKCS#12"
transportSSLVerificationMode="certificate"
sslKeystorePath="/PATH/TO/config/certs/dxp.example.com.p12"
sslKeystorePassword="liferay"
sslTruststorePath="/PATH/TO/config/certs/dxp.example.com.p12"
sslTruststorePassword="liferay"