#PEM
#requiresAuthentication=B"true"
#username="elastic"
#password="liferay"
#transportSSLEnabled=B"true"
#transportSSLVerificationMode="certificate"
#certificateFormat="PEM"
#sslKeyPath="/PATH/TO/config/certs/elastic-nodes.key"
#sslCertificatePath="/PATH/TO/config/certs/elastic-nodes.crt"
#sslCertificateAuthoritiesPaths="/PATH/TO/config/certs/elastic-stack-ca.crt"
#PKCS#12
requiresAuthentication=B"true"
username="elastic"
password="liferay"
transportSSLEnabled=B"true"
certificateFormat="PKCS#12"
transportSSLVerificationMode="certificate"
sslKeystorePath="/PATH/TO/config/certs/elastic-nodes.p12"
sslKeystorePassword="liferay"
sslTruststorePath="/PATH/TO/config/certs/elastic-nodes.p12"
sslTruststorePassword="liferay"