operationMode="REMOTE"
networkHostAddresses=["https://localhost:9200"]
productionModeEnabled=B"true"
logExceptionsOnly="false"
username="elastic"
password="liferay"
authenticationEnabled=B"true"
httpSSLEnabled=B"true"
truststorePassword="liferay"
truststorePath="/PATH/TO/certs/elastic-certificates.p12"
truststoreType="pkcs12"